@import "./variables";
@import "./global";
@import "./desktop";
@import "./tablet";
@import "./landscape";
@import "./notTouchscreen";
@import "./animations";

// #######################################
//      LAYOUT
// #######################################

.Portrait {
    pointer-events: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgb(255, 253, 159);
}

.MainLayout {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.Play {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    .playContainer {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

.UI {
    pointer-events: none;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;

    .gameContainer {
        position: absolute;
        // background-color: rgba(255, 191, 117, 0.185);
    }

    .topRow {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        right: 0;
        top: 0;
        left: 0;

        .healthBar {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            .health {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                max-height: 100%;
                min-height: 100%;

                .background {
                    position: absolute;
                    height: 25%;
                    width: 97%;
                    background-color: rgb(22, 22, 22);
                    z-index: 1;

                    .currentHealth {
                        transition: width 0.5s ease-in-out;
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        background-color: rgb(6, 167, 0);
                        z-index: 5;
                    }
                }

                .left,
                .middle,
                .right {
                    position: relative;
                    height: 100%;
                    max-height: 100%;
                    min-height: 100%;
                    z-index: 10;
                }
            }

            .icon {
                transition: opacity 0.2s ease-in-out;
                height: 100%;
                max-height: 100%;
                min-height: 100%;
                z-index: 10;
                pointer-events: none;

                &.filter {
                    position: absolute;
                    mix-blend-mode: multiply;
                    opacity: 0.3;
                }
            }

            .textContainer {
                display: flex;
                align-items: baseline;
                justify-content: center;

                .healthValue {
                    font-weight: 600;
                }

                .healthTotal {
                    font-weight: 600;
                    opacity: 0.5;
                }
            }
        }

        .coins {
            display: flex;
            align-items: center;
            justify-content: center;

            .icon {
                transition: opacity 0.2s ease-in-out;
                height: 100%;
                max-height: 100%;
                min-height: 100%;
                pointer-events: none;
            }

            .coinNumber {
                font-weight: 600;
                text-align: center;
            }
        }

        .separator {
            flex-grow: 1;
        }

        .button {
            display: flex;
            align-items: center;
            justify-content: center;
            pointer-events: all;

            .icon {
                transition: opacity 0.2s ease-in-out;
                height: 100%;
                max-height: 100%;
                min-height: 100%;
                pointer-events: none;
            }
        }
    }

    .secondBottomRow {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        right: 0;
        left: 0;

        .sign {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            pointer-events: all;

            .icon {
                pointer-events: all;
                transition: opacity 0.2s ease-in-out;
                height: 100%;
                max-height: 100%;
                min-height: 100%;
                pointer-events: none;
            }

            .textContainers {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;

                .currentMana {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .totalMana {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: unset;
                    color: $paper;
                    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
                }
            }

            .nextWave {
                margin-right: 10%;
                position: absolute;
                font-weight: unset;
                color: $paper;
                text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
            }
        }
    }

    .bottomRow {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        right: 0;
        bottom: 0;
        left: 0;

        .pile {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            pointer-events: all;

            .icon {
                pointer-events: all;
                transition: opacity 0.2s ease-in-out;
                height: 100%;
                max-height: 100%;
                min-height: 100%;
                pointer-events: none;
            }

            .numOfCards {
                position: absolute;
                font-weight: 600;
                text-align: center;

                &.discard {
                    font-weight: unset;
                    color: $paper;
                    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
                }
            }
        }
    }
}

h1 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
}

p {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}
